<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RealSynch test" verbose="1" thread-count="1">
    <test name = "Test">
        <groups>
            <run>
                <include name="unit 2"/>
            </run>
        </groups>
        <classes>
            <class name="test.Br360Test"/>
        </classes>
    </test>
</suite>