<?xml version="1.0" encoding="UTF-8"?>
<suite name="RealSynch" parallel="false">
    <parameter name="exampleDesc" value="TestNG Parameter Example"></parameter>
    <test name="TestNgParametersTest">
        <parameter name="username" value="automationtester@mailinator.com"></parameter>
        <parameter name="password" value="itexico1*"></parameter>
        <classes>
            <class
                    name="test.BasicTest" />
        </classes>
    </test>
</suite>